<h2>
    Hola {{usuario}}
    <a type="submit" class="btn btn-primary" onclick="return confirm('¿Esta seguro que desea salir?')"
        href='/salir'>Salir</a> 
    <a type="submit" class="btn btn-primary" href="">Cambiar Contraseña</a>
</h2>
<h2><a type="submit" class="btn btn-primary" onclick="return confirm('¿Esta seguro que desea empezar un nuevo turno?')"
        href='/empezar'>Empezar Turno</a>
    <a type="submit" class="btn btn-primary" href="/cierres">Ver todos los Cierres</a>
    <a type="submit" class="btn btn-primary" href="/productos">Ver Productos</a>
    <a type="submit" class="btn btn-primary" href="/usuarios">Ver Usuarios</a>
</h2>